
.buttons-container button {
  width: 24%;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  height: 100px;
  background-color: #399F38;
  color: white;
  font-size: 20px;
}

.buttons-container, .operations-buttons, .display{
  display: block;
  flex-wrap: wrap;
  width: 500px;

}
.operations-buttons button {
  background-color: #98C897;

}

.buttons-container .display {
  display: grid;
  background-color: #399F38;
  width: 25%;
  height: 100px;
  color: white;
  
}

/* <div class="buttons-container display"> */

/* <div class="buttons-container"> */
  /* <div> */
    /* <div class="display> */