.buttons-container button {
  width: 25%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  height: 100px;
}

.buttons-container, .operations-buttons{
  display: flex;
  flex-wrap: wrap;
  width: 500px;

}
